body {
	font-family: "Helvetica Neue", Helvetica, Arial, STHeiti, "Heiti SC", "Heiti TC", "Noto Sans CJK SC", "Noto Sans CJK TC", SimHei, "SimSun-ExtB", "BabelStone Han", "BabelStone Han Plain", "HanaMinA", "HanaMinB", "Unifont", "Unifont Upper", sans-serif, serif;
}
iframe {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	height: 100%;
}
